 /* =============================GLOBAL==================================== */
html, body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.burger{
    display: none;
}

.main__services {
    padding: 50px 0 185px;
}

.main__customers{
    padding-bottom: 120px;
}

.main__business{
    padding-bottom: 120px;
}

.main__review{
    padding: 96px 0; 
}

.main__program{
    padding: 124px 0 158px;
}

.main__blog{
    padding-bottom: 124px;
}

.main__email{
    padding-bottom: 84px;
}

.button{
    transition: all .3s;
}
.button:hover{
    transform: scale(1.1);
}


.heading--text-center{
    margin: 0 auto;
    text-align: center;
}

/* =============================HEADER==================================== */
/* =============================HEADER__TOP==================================== */


.header {
    padding-top: 56px;
    height: 100%;
    background: url('../img/head/background.svg') 985px -1105px / 100% no-repeat, #0A2640;
    display: flex;
    flex-direction: column;
}



.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__top {
    margin-bottom: 71px;
}
.header__logo {
    padding-right: 10px;
}
.header__logo-link {
    font-weight: 700;
    font-size: 43.25px;
    line-height: 34px;
}
.header__nav {
    display: flex;

}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item {
    margin-right: 40px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.header__nav-link {
    transition: all .3s;
}



.header__nav-link:hover {
    color: #65E4A3;
}


.header__log{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0A2640;
    padding: 8px 40px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    transition: all .3s;
}

.header__log:hover{
    transform: scale(1.1);
}

/* =============================HEAD__BODY==================================== */

.header__body {
    flex-grow: 1;
}

.header__body-inner{
    display: flex;
    flex-direction: column;
    height: 100%;
}



.header__body-main{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__body-content {
    min-width: 530px;
    margin-right: 100px;
}
.header__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.heading__title {
}
.header__body-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F1F1F1;
    margin-bottom: 40px;
}
.header__btns{
    display: flex;
}

.header__button {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #0A2640;
    background: #65E4A3;
    border: 2px solid #69E6A6;
    border-radius: 56px;
    padding: 16px 56px;
    margin-right: 24px;
}

.header__button:last-child {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 0;
}

.header__body-chart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 25px;
    max-width: 495px;
}

.header__img-charts{
    display: flex;
    justify-content: space-between;
}

.header__image-box:first-child {
    flex-basis: 100%;
}

.header__image-box img {
    backdrop-filter: blur(34.3553px);
    transition: all .3s;
}

.header__image-box img:hover {
    transform: scale(1.1);
}


/* =============================header__body-row==================================== */

.header__body-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
    margin-top: 56px;
}

.header__item{
    display: inline-block;
	position: relative;    
	line-height: 0;
    padding-right: 10px;
}
.header__item:last-child{
    padding-right: 0;
}
.header__item svg{
    background:linear-gradient(to right, rgba(165, 153, 153, 0.9), rgba(56, 180, 180, 0.9) );
}




.header__item:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to right, , #ffffff);
	opacity: 0.8;
}


/* =============================SERVICES==================================== */


.services {
}
.container {
}
.services__heading {
    max-width: 850px;
    margin-bottom: 80px;
}
.heading {
}
.services__subtitle {
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.services__title {
    font-size: 48px;
    line-height: 72px;
}
.services__page-list {
    display: flex;
    justify-content: space-between;
}
.services__page-item {
    transition: all .3s;
    padding: 0 15px;
    max-width: 300px;
}
.services__page-item:hover{
    transform: scale(1.1);
}
.services__page-link {
}
.page__image-box {
    margin-bottom: 24px;
}
.page__image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page__content {
    margin-bottom: 16px;
}

.page__title {
    font-size: 24px;
    line-height: 36px;
}

.page__content p{
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.page__link-btn {
    color: #0A2640;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #0A2640;
}

.page__link-btn::after {
    content: "";
    background: url('../img/services/arrow-right.svg');
    display: block;
    width: 24px;
    height: 26px;
    margin-left: 12px;
}


/* =============================CUSTOMERS==================================== */



.customers__inner {
    display: flex;
    justify-content: space-between;
}
.customers__image-box {
    margin-right: 150px;
}

.customers__chart{
    margin-top: -300px;
    margin-left: 170px;
}


.customers__content {
    margin-top: 80px;
}
.customers__heading-title {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 40px;
}
.customers__list {
    margin-bottom: 56px;
}
.customers__item {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 32px;
    display: flex;
}
.customers__item:last-child {
    margin-bottom: 0;
}

.customers__item::before {
    content: "";
    background: url('../img/customers/mark.svg') no-repeat;
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 27px;
    padding-right: 37px;
}

.customers__btn {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background: #0A2640;
    border: 2px solid #0A2640;
    border-radius: 56px;
    padding: 16px 56px;
    transition: all .3s;
}

.customers__btn:hover {
    transform: rotate(1.1);
}
.button {
}


/* =============================BUSINESS==================================== */


.business__inner {
    display: flex;
    justify-content: space-between;
}
.business__content {
    max-width: 500px;
    margin-right: 156px;
}
.business__heading-title {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 40px;
}
.business__list {
}
.business__item {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 16px 50px 16px 20px;
    margin-bottom: 24px;
    transition: all .3s;
    display: flex;
    align-items: center;
}
.business__item:hover {
    background: #0A2640;
    color: #fff;
    transform: scale(1.1);
}



.business__item svg {
    margin-right: 12px;
    
}
.business__item path {
    transition: all .3s;
    
}
.business__item:hover path {
    stroke: #FFFFFF;
}

.business__image-box {
    max-width: 450px;
    margin-top: -115px;
}


.business__chart{
    margin-top: -200px;
}


/* =============================REVIEW==================================== */
.review{
    background: #0A2640;
}

.review__inner {
    max-height: 100vh;
    position: relative;
}
.review__heading-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 72px;
    color: #FFFFFF;
    max-width: 750px;
}


.review__arrows{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 0;
}


.review__arrow{
    position: relative;
    z-index: 7;
}

.review__arrow path{
    transition: all .3s;
}
.review__arrow:hover path{
    stroke: #0A2640;
}

.review__arrow:hover::before{
    transform: translate(-50%, -50%) scale(1);
    transition: all .3s;
}
.review__arrow::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FFFFFF;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s;
}



.review__slider-next{
    margin-left: 65px;
}

.review__slider {
    display: flex;
    justify-content: space-between;
}

.review__slider .slick-list{
    margin: 0 -22px;
}

.review__slide {
    padding: 0 22px;
    height: 371px;
}

.review__slide-inner {
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.review-blq {
    margin-bottom: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    flex-grow: 1;
}
.review__person {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.review__person-info{
    display: flex;
    flex-direction: column;
}

.review__name {
    color: #0A2640;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}
.review__post {
    color: #0A2640;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
}



/* =============================PROGRAM==================================== */


.program {
}

.program__inner {
    display: flex;
    flex-direction: column;

}
.program__image-box {
    align-self: center;
    margin-bottom: 56px;
}
.program__content {
    display: flex;
    justify-content: space-between;
}
.program__heading-title {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    max-width: 500px;
    margin-right: 20px;
}
.program__accordeon-item{
    max-width: 500px;
    transition: all .3s;
}
.program__accordeon-item:hover{
    transform: scale(1.1);
}
.program__accordeon-link {
    display: block;
    box-shadow: 0px 4px 32px rgb(0 0 0 / 8%);
    border-radius: 4px;
    padding: 16px 20px 16px 20px;
    margin-bottom: 32px;
}

.program__acc-head {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
}

/* 
.acc-image-box svg{
    background: #0A2640;
    border-radius: 50%;
    transition: all .3s;
}

.program__accordeon-link--active svg{
    transition: all .3s;
    transform: rotate(180deg);
} */

.program__acc-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 40px;
}



.program__acc-head::after {
    content: "";
    background: url('../img/accordeon/arrow.svg');
    width: 28px;
    height: 28px;
    transition: all .3s;
    margin-left: 10px;
}



.program__accordeon-link--active .program__acc-head::after{
    transform: rotate(180deg);
}

/* =============================BLOG==================================== */


.blog__inner {
    display: flex;
    flex-direction: column;
}
.blog__heading {
    margin-bottom: 79px;
}
.blog__subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.blog__heading-title {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}
.blog__page-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
    flex-wrap: wrap;
    row-gap: 40px;
}
.blog__page-item {
    flex: 0 1 33.333%;
    padding: 0 15px;
    transition:  all .3s;
}
.blog__page-item:hover {
    transform: scale(1.1);
}


.blog__page-inner{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog__image-box {
    margin-bottom: 24px;
}
.blog__image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.blog__title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.blog__category {
    color: #0A2640;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-right: 12px;
}
.blog__date {
    color: #777777;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.blog__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    flex-grow: 1;
    margin-bottom: 20px;
}
.blog__person {
    display: flex;
    align-items: center;
}
.blog__person-img {
    margin-right: 12px;
}
.blog__person-name {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.blog__btn{
    display: block;
    align-self: center;
    padding: 16px 56px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    background-color: transparent;
    border: 2px solid #0A2640;
    border-radius: 56px;
    margin-right: 0;
    transition: all .3s;
}

.blog__btn:hover{
    transform: scale(1.1);
    background: #0A2640;
    color: #65E4A3;
}

.blog__page-item:nth-last-child(-n+2){
    justify-self: flex-start;
}




/* =============================EMAIL==================================== */

.email__inner{
    display: flex;
    flex-direction: column;
    background: url('../img/footer/background.svg') no-repeat, #0A2640;
    background-position: 580px -1020px;
    border-radius: 12px;
    padding: 72px 0;
    transition: all .3s;
}
.email__inner:hover{
    transform: scale(1.1);
}

.email__title{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    max-width: 800px;
    margin-bottom: 48px;
}

.email__form {
    display: flex;
    align-self: center;
}
.email__form input{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 240px;
    padding: 12px 158px 12px 32px;
    margin-right: 24px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
}
.email__form>input::placeholder{
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
}

.email__form button{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A2640;
    background: #65E4A3;
    border: 2px solid #65E4A3;
    border-radius: 56px;
    padding: 16px 56px;
    transition: all .3s;
}
.email__form button:hover{
    transform: scale(1.1);
}






/* =============================EMAIL==================================== */


.footer{
    padding: 100px 0 120px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}
.footer__content {
}
.footer__logo {
    display: block;
    margin-bottom: 40px;
}
.footer__text {
    max-width: 300px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
    margin-bottom: 64px;
}

.footer__subtext{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
}

.footer__col {

}
.footer__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 32px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__list-item {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}

.footer__list-item--hiring{
    display: flex;
    align-items: center;
}


.footer__list-link {
    transition: all .3s;
}

.footer__list-link:hover{
    color: #0A2640;
}

.footer__hiring{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    color: #0A2640;
    padding: 1px 14px;
    background: #65E4A3;
    border-radius: 120px;
    margin-left: 10px;
    transition: all .3s;
}
.footer__hiring:hover{
    color: #65E4A3;
    transform: scale(1.1);
    background: #0A2640;
}

.footer__title--slide{
    pointer-events: none;
}

.footer__bottom{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
}



/* -------------------------------------------MEDIA--------------------------------------------------------- */

/* -------------------------------------------1250--------------------------------------------------------- */


@media(max-width: 1250px){




    .header__body-content {
        max-width: 440px;
        margin-right: 50px;
    }


    .heading__title {
        font-size: 35px;
    }

    .header__body-text {
        font-size: 14px;
    }

    .header__image-box img {
        max-width: 400px;
    }

    .header__image-box--2 img {
        max-width: 170px;
        padding-right: 10px;
    }
    .header__image-box--3 img {
        max-width: 230px;
        padding-left: 15px;
    }

    .header__button {
        font-size: 15px;
        max-width: 200px;
        padding: 16px 30px;
    }

    .header__button:last-child {
        font-size: 15px;
        padding: 16px 30px;
        max-width: 200px;
    }


    .header__item img{
        max-width: 150px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .customers__content{
        max-width: 570px;
    }

    .customers__image-box {
        margin-right: 30px;
    }

    .customers__image-box img{
        max-width: 450px;
    }
    .customers__image-box img:last-child{
        max-width: 250px;
    }
    .customers__chart {
        margin-top: -230px;
        margin-left: 170px;
    }

    .customers__heading-title {
        font-size: 26px;
    }

    .customers__item{
        font-size: 16px;
    }


    /* ---------------------------------------------------------------------------------------------------- */
    
    .business__content{
        margin-right: 50px;
        max-width: 570px;
    }

    .business__heading-title {
        font-size: 26px;
    }

    .business__image-box {
    }

    .business__image-box img{
        max-width: 410px;
    }
    .business__image-box img:last-child{
        max-width: 250px;
    }



}


/* -------------------------------------------1150--------------------------------------------------------- */

@media(max-width:1150px){
    .program__image-box img{
        max-width: 900px;
    }

    .program__heading-title{
        font-size: 28px;
    }
    
    .program__acc-head {
        font-size: 18px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .blog__heading{
        max-width: 800px;
    }

    .blog__heading-title {
        font-size: 40px;
    }
}

/* -------------------------------------------1100--------------------------------------------------------- */

@media(max-width:1100px){
    .customers__image-box {
        margin-right: 30px;
    }

    .customers__content{
        max-width: 500px;
    }

    .customers__heading-title {
        font-size: 24px;
    }

    .customers__item {
        font-size: 16px;
    }


    .customers__btn{
        font-size: 16px;
        padding: 16px 30px;
    }
}






/* -------------------------------------------1050--------------------------------------------------------- */


@media(max-width: 1050px){
    .header__body-content {
        max-width: 750px;
        margin-right: 0;
    }

    .heading__title {
        font-size: 55px;
    }

    .header__body-text {
        font-size: 18px;
    }


    .header__button {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #0A2640;
        background: #65E4A3;
        border: 2px solid #69E6A6;
        border-radius: 56px;
        padding: 16px 56px;
        margin-right: 24px;
        max-width: 400px;
    }

    .header__button:last-child {
        font-size: 18px;
        padding: 16px 56px;
        max-width: 400px;
    }

    .header__image-box{
        display: none;
    }
        

    /* ---------------------------------------------------------------------------------------------------- */

    .services__title {
        font-size: 36px;
    }

    .page__title {
        font-size: 20px;
    }

    .page__content p {
        font-size: 18px;
    }

    .page__link-btn{
        font-size: 18px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .customers__image-box{
        display: none;
    }

    .customers__content{
        margin: 0;
        max-width: 870px;
    }

    .customers__heading-title{
        font-size: 40px;
    }

    .customers__item{
        font-size: 24px;
    }

    .customers__btn{
        font-size: 20px;
        padding: 16px 56px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .business__image-box{
        display: none;
    }

    .business__content{
        margin: 0;
        max-width: 870px;
    }

    .business__heading-title{
        font-size: 40px;
    }

    .business__item{
        padding: 16px 40px 16px 20px;
        font-size: 24px;
        max-width: 600px;
    }


    /* ---------------------------------------------------------------------------------------------------- */

    .review__heading-title {
        max-width: 650px;
        font-size: 40px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .program__image-box img{
        max-width: 800px;
    }

    .program__heading-title{
        max-width: 450px;
        font-size: 22px;
    }

    .program__acc-head {
        font-size: 15px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .blog__heading{
        max-width: 800px;
    }

    .blog__subtitle {
        font-size: 18px;
    }
    .blog__heading-title {
        font-size: 33px;
    }
}

/* -------------------------------------------900--------------------------------------------------------- */

@media(max-width:900px){
    .header__top{
        margin-bottom: 40px;
    }
    
    .header__body-main{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__body-content{
        margin-bottom: 30px;
    }
    .header__title{
        font-size: 40px;
        max-width: 500px;
    }

    .header__body-text{
        font-size: 16px;
    }
    
    .header__button:first-child {
        padding: 16px 40px;
    } 
    .header__image-box{
        display: block;
    }
    .header__image-box img{
        max-width: 500px;
    }
    .header__item{
        display: none;
    }

    .header__image-box--2,
    .header__image-box--3{
        display: none;
    }


    /* ---------------------------------------------------------------------------------------------------- */


    .services__page-list{
        flex-direction: column;
    }

    .services__page-item{
        flex-basis: 100%;
        flex-grow: 1;
        min-width: 70%;
        margin: 0 auto 40px;
    }

    .services__page-item:hover {
        transform: none;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .customers__content{
        max-width: 690px;
    }

    .customers__heading-title{
        font-size: 34px;
    }

    .customers__item{
        font-size: 24px;
    }

    .customers__btn{
        font-size: 18px;
        padding: 16px 40px;
    }
    /* ---------------------------------------------------------------------------------------------------- */

    .business__content{
        max-width: 690px;
    }

    .business__heading-title{
        font-size: 34px;
    }

    .business__item{
        font-size: 24px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .review__heading-title {
        max-width: 580px;
        font-size: 35px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .program__image-box img{
        max-width: 750px;
    }

    .program__heading-title{
        max-width: 390px;
        font-size: 18px;
    }

    .program__acc-head {
        font-size: 13px;
    }

    /* ---------------------------------------------------------------------------------------------------- */
    .blog__heading {
        margin-bottom: 20px;
    }

    .blog__page-list{
        flex-direction: column;
    }
    .blog__page-item{
        width: 80%;
        margin: 0 auto 30px;
    }
    .blog__content{
        
    }
    
    /* ---------------------------------------------------------------------------------------------------- */
    .email__title{
        max-width: 500px;
        font-size: 30px;
    }

    .email__form input{
        padding: 12px 140px 12px 32px;
    }
}

/* -------------------------------------------800--------------------------------------------------------- */

@media(max-width:800px){

    
    .main__services {
        padding: 50px 0 50px;
    }

    .main__customers{
        padding-bottom: 60px;
    }

    .main__business{
        padding-bottom: 60px;
    }

    .main__review{
        padding: 96px 0; 
    }

    .main__program{
        padding: 62px 0 75px;
    }

    .main__blog{
        padding-bottom: 62px;
    }

    .main__email{
        padding-bottom: 44px;
    }

    .footer{
        padding: 50px 0 60px;
    }

/* ---------------------------------------------------------------------------------------------------- */

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.349);
        z-index: 7;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }    

    .overlay--show{
        opacity: 1;
        visibility: visible;
    }

    .burger{
        position: fixed;
        top: 15px;
        right: 10px;
        z-index: 10;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s;
    }

    

    .burger span{
        display: block;
        width: 30px;
        height: 4px;
        background: #65E4A3;
        border-radius: 3px;
        margin: 4px 0;
    }
    .burger::before,
    .burger::after{
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background: #65E4A3;
        border-radius: 3px;
}

    .burger--follow{
        box-shadow: 0 1px 8px 0 #a1a1a1;
        background: #0A2640;
        top: 15px;
        right: 15px;
    }


    .burger--close span{
        transform: rotate(45deg);
    }


    .burger--close::before{
        content: "";
        display: block;
        position: relative;
        top: 14%;
        width: 30px;
        height: 4px;
        background: #65E4A3;
        border-radius: 3px;
        transform:  rotate(-45deg);
    }
    
    .burger--close::after{
        display: none;
    }

    .header__nav-list{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #0A2640;
        z-index: 7;
        min-width: 100%;
        height: 320px;
        transform: translateY(-100%);
        transition: all .3s;
        display: flex;
        flex-direction: column;
        padding: 70px 0;
    }

    .header__logo-link{
        position: absolute;
        top: 15px;
    }

    .header__nav-list--open{
        transform: translateX(0);
    }

    .header__nav-item{
        color: #fff;
        font-size: 25px;
        margin: 0 0 50px 0;
    }

    .header__log{
        font-size: 20px;
        padding: 15px 50px;
        position: absolute;
        right: 80px;
        top: 15px;
    }

     /* ---------------------------------------------------------------------------------------------------- */

    .review__arrows{
        display: none;
    }

    .review__heading-title{
        text-align: center;
        margin: 0 auto 30px;
        line-height: 1.7;
    }

    .review__slide{
        padding: 0 50px;
    }

    .review-blq {
        font-size: 18px;
    }


    .review__image-box img{
        max-width: 40px;

    }

    .review__name{
        font-size: 14px;
    }

    .review__post{
        font-size: 12px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .program__image-box img{
        max-width: 700px;
    }

    .program__content{
        flex-direction: column;
        margin: 0 auto;
    }

    .program__heading-title{
        text-align: center;
        /* max-width: 390px; */
        font-size: 28px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .program__accordeon-item:hover{
        transform: none;
    }

    .program__acc-head {
        font-size: 16px;
    }



    /* ---------------------------------------------------------------------------------------------------- */

    .blog__page-inner:hover{
        transform: none;
    }

    .blog__btn:hover{
        transform: none;
    }

    .blog__page-item:hover{
        transform: none;
    }

    
    /* ---------------------------------------------------------------------------------------------------- */

    .email__inner:hover{
        transform: none;
    }
    
    .email__form button:hover{
        transform: none;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .footer__top{
        flex-direction: column;
    }
    
    .footer__title--slide{
        cursor: pointer;
        pointer-events: painted;
    }
    .footer__list {
        display: none;
    }
    .footer__col{
        margin-bottom: 30px;
    }

    .footer__title--slide{
        margin-bottom: 10px;
    }

    .footer__list-item{
        margin-bottom: 5px;
    }

}



/* -------------------------------------------750--------------------------------------------------------- */


@media(max-width: 750px){
    /* .header__log{
        font-size: 14px;
        padding: 10px 30px;
    } */

    .header__title{
        font-size: 70px;
    }

    .header__body-text{
        display: none;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .services__heading{
        max-width: 370px;
    }

    .services__subtitle {
        font-size: 16px;
    }

    .services__title{
        text-align: center;
        font-size: 24px;
        line-height: 2.1;
    }

    .services__page-item{
        flex-basis: 100%;
        flex-grow: 1;
        min-width: 60%;
        margin: 0 auto 40px;
    }

    .page__title{
        font-size: 20px;
    }

    .page__content p {
        font-size: 18px;
    }

    .page__link-btn{
        font-size: 18px;
    }


    /* ---------------------------------------------------------------------------------------------------- */

    .customers__content{
        max-width: 510px;
    }

    .customers__heading-title{
        font-size: 23px;
    }

    .customers__item{
        font-size: 17px;
    }

    .customers__btn{
        font-size: 16px;
        padding: 16px 30px;
    }
    /* ---------------------------------------------------------------------------------------------------- */

    .business__content{
        max-width: 510px;
    }

    .business__heading-title{
        font-size: 23px;
    }

    .business__item{
        max-width: 450px;
        font-size: 17px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .review__heading-title{
        max-width: 450px;
        font-size: 25px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .program__image-box img{
        max-width: 450px;
    }

    .program__heading-title{
        line-height: 2.1;
        max-width: 300px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .program__accordeon-item{
        max-width: 320px;
    }

    .program__acc-head {
        font-size: 12px;
    }

    .program__acc-text{
        font-size: 12px;
    }

    /* ---------------------------------------------------------------------------------------------------- */
    .blog__heading {
        margin-bottom: 20px;
        max-width: 500px;
    }

    .blog__subtitle {
        font-size: 16px;
    }

    .blog__heading-title {
        font-size: 24px;
        line-height: 2.1;
    }

    .blog__page-list{
        flex-direction: column;
    }
    .blog__page-item{
        width: 80%;
        margin: 0 auto 30px;
    }


    .blog__text {
        font-size: 16px;
    }
    
    /* ---------------------------------------------------------------------------------------------------- */
    .email__title{
        max-width: 450px;
        font-size: 24px;
    }

    .email__form{
        flex-direction: column;
    }

    .email__form input{
        padding: 12px 140px 12px 32px;
        margin: 0 0 20px 0;
    }
    .email__form button{
        display: inline-block;
    }
}


/* -------------------------------------------530--------------------------------------------------------- */


@media(max-width: 530px){

    .header__top {
        margin-bottom: -15px;
    }

    .header__logo-link svg{
        position: absolute;
        top: 10px;
        width: 120px;
    }

    .header__log{
        font-size: 16px;
        padding: 15px 30px;
    }

    .header__body-main{
        flex-direction: column;
        align-items: flex-start;
    }

    .header__body-content{
        margin-bottom: 30px;
    }

    .header__image-box--2,
    .header__image-box--3{
        display: block;
    }

    
    .header__image-box img{
        max-width: 300px;
    }

    .header__image-box--2 img{
        max-width: 130px;
    }

    .header__image-box--3 img{
        max-width: 170px;
    }

    .header__title{
        font-size: 35px;
        max-width: 300px;
        margin-right: 0;
    }

    .header__body-text{
        font-size: 10px;
    }

    .header__button{
        font-size: 16px;
    }
    .header__button:last-child{
        font-size: 16px;
    }

    .header__btns{
        flex-direction: column;
    }

    .header__button{
        align-self: flex-start;
        margin: 0 0 30px 0;
        text-align: center;
    }
    .header__button:last-child{
        margin: 0;
    }


    

    

    /* ---------------------------------------------------------------------------------------------------- */

    .customers__content{
        max-width: 440px;
    }

    .customers__heading-title{
        font-size: 20px;
    }

    .customers__item{
        font-size: 14px;
    }

    .customers__btn{
        font-size: 12px;
        padding: 16px 20px;
    }
    /* ---------------------------------------------------------------------------------------------------- */

    .business__content{
        max-width: 440px;
    }

    .business__heading-title{
        font-size: 20px;
    }

    .business__item{
        max-width: 400px;
        font-size: 14px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .review__heading-title{
        font-size: 20px;
        max-width: 350px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .blog__page-list{
        margin: 0;
    }
    /* ---------------------------------------------------------------------------------------------------- */

    .email__title{
        max-width: 330px;
        font-size: 18px;
    }

    .email__form{
        flex-direction: column;
    }
    .email__form input{
        padding: 12px 28px;
        margin: 0 0 20px 0;
    }
    .email__form button{
        display: inline-block;
        padding: 12px 28px;
    }

    /* ---------------------------------------------------------------------------------------------------- */

    .email__title{
        line-height: 2.1;
    }

} 

/* -------------------------------------------500--------------------------------------------------------- */


@media(max-width: 500px){
    .services__title {
        font-size: 20px;
    }

    .page__title {
        font-size: 18px;
    }

    .page__content p, 
    .page__link-btn {
        font-size: 16px;
    }

    
    /* ---------------------------------------------------------------------------------------------------- */

    .customers__content{
        max-width: 340px;
    }

    .customers__heading-title{
        font-size: 16px;
    }

    .customers__item{
        font-size: 12px;
    }

    .customers__btn{
        font-size: 12px;
        padding: 16px 20px;
    }
    /* ---------------------------------------------------------------------------------------------------- */

    .business__content{
        max-width: 340px;
    }

    .business__heading-title{
        font-size: 16px;
    }

    .business__item{
        font-size: 12px;
    }


     /* ---------------------------------------------------------------------------------------------------- */

    .program__image-box img{
        max-width: 320px;
    }

    .program__heading-title{
        max-width: 300px;
        font-size: 12px;
    }

    .program__acc-head {
        font-size: 10px;
    }
} 

/* -------------------------------------------400--------------------------------------------------------- */


@media(max-width: 400px){
    
    .header__log{
        padding: 10px 18px;
        right: 70px;
        top: 22px;
    }


    .header__image-box img{
        max-width: 260px;
    }

    .header__image-box--2 img{
        max-width: 110px;
    }

    .header__image-box--3 img{
        max-width: 150px;
    }
    
    /* ---------------------------------------------------------------------------------------------------- */

    .customers__content{
        max-width: 340px;
    }

    .customers__heading-title{
        font-size: 14px;
    }

    .customers__item{
        font-size: 10px;
    }

    .customers__btn{
        font-size: 10px;
        padding: 10px 15px;
    }

/* ---------------------------------------------------------------------------------------------------- */

    .business__content{
        max-width: 340px;
    }

    .business__heading-title{
        font-size: 14px;
    }

    .business__item{
        font-size: 10px;
    }


     /* ---------------------------------------------------------------------------------------------------- */


    .review__heading-title{
        font-size: 18px;
    }

    .review__slide{
        padding: 0 50px;
    }

    .review-blq {
        font-size: 16px;
    }


    .review__image-box img{
        max-width: 30px;

    }

    .review__name{
        font-size: 12px;
    }

    .review__post{
        font-size: 10px;
    }

    /* ---------------------------------------------------------------------------------------------------- */
    .blog__heading {
        margin-bottom: 20px;
        max-width: 500px;
    }

    .blog__subtitle {
        font-size: 16px;
    }

    .blog__heading-title {
        font-size: 18px;
    }
    .blog__category, 
    .blog__date{
        font-size: 12px;
    }

    .blog__page-item{
        width: 80%;
        margin: 0 auto 30px;
    }


    .blog__text {
        font-size: 12px;
    }

} 


/* -------------------------------------------345--------------------------------------------------------- */

@media(max-width:345px){
    .review-blq{
        margin-bottom: 10px;
    }

    .review__image-box{
        display: none;
    }

}